web/WEB-INF/wsdl/ubuntu4.javabog.dk_9959/softskills.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ServermanagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://ubuntu4.javabog.dk:9959/softskills?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"></part>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"></part>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"></part>
</message>
<message name="getGroup">
<part name="parameters" element="tns:getGroup"></part>
</message>
<message name="getGroupResponse">
<part name="parameters" element="tns:getGroupResponse"></part>
</message>
<message name="deleteGroup">
<part name="parameters" element="tns:deleteGroup"></part>
</message>
<message name="deleteGroupResponse">
<part name="parameters" element="tns:deleteGroupResponse"></part>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"></part>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"></part>
</message>
<message name="addProductToUser">
<part name="parameters" element="tns:addProductToUser"></part>
</message>
<message name="addProductToUserResponse">
<part name="parameters" element="tns:addProductToUserResponse"></part>
</message>
<message name="addToResults">
<part name="parameters" element="tns:addToResults"></part>
</message>
<message name="addToResultsResponse">
<part name="parameters" element="tns:addToResultsResponse"></part>
</message>
<message name="getSurName">
<part name="parameters" element="tns:getSurName"></part>
</message>
<message name="getSurNameResponse">
<part name="parameters" element="tns:getSurNameResponse"></part>
</message>
<message name="setEmail">
<part name="parameters" element="tns:setEmail"></part>
</message>
<message name="setEmailResponse">
<part name="parameters" element="tns:setEmailResponse"></part>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"></part>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"></part>
</message>
<message name="setRetning">
<part name="parameters" element="tns:setRetning"></part>
</message>
<message name="setRetningResponse">
<part name="parameters" element="tns:setRetningResponse"></part>
</message>
<message name="getRetning">
<part name="parameters" element="tns:getRetning"></part>
</message>
<message name="getRetningResponse">
<part name="parameters" element="tns:getRetningResponse"></part>
</message>
<message name="retrieveSafeObjects">
<part name="parameters" element="tns:retrieveSafeObjects"></part>
</message>
<message name="retrieveSafeObjectsResponse">
<part name="parameters" element="tns:retrieveSafeObjectsResponse"></part>
</message>
<message name="getSafe">
<part name="parameters" element="tns:getSafe"></part>
</message>
<message name="getSafeResponse">
<part name="parameters" element="tns:getSafeResponse"></part>
</message>
<message name="getSafeSize">
<part name="parameters" element="tns:getSafeSize"></part>
</message>
<message name="getSafeSizeResponse">
<part name="parameters" element="tns:getSafeSizeResponse"></part>
</message>
<message name="setSafe">
<part name="parameters" element="tns:setSafe"></part>
</message>
<message name="setSafeResponse">
<part name="parameters" element="tns:setSafeResponse"></part>
</message>
<message name="setfullName">
<part name="parameters" element="tns:setfullName"></part>
</message>
<message name="setfullNameResponse">
<part name="parameters" element="tns:setfullNameResponse"></part>
</message>
<message name="hentResults">
<part name="parameters" element="tns:hentResults"></part>
</message>
<message name="hentResultsResponse">
<part name="parameters" element="tns:hentResultsResponse"></part>
</message>
<message name="getFullName">
<part name="parameters" element="tns:getFullName"></part>
</message>
<message name="getFullNameResponse">
<part name="parameters" element="tns:getFullNameResponse"></part>
</message>
<message name="addToSafe">
<part name="parameters" element="tns:addToSafe"></part>
</message>
<message name="addToSafeResponse">
<part name="parameters" element="tns:addToSafeResponse"></part>
</message>
<message name="setFirstRun">
<part name="parameters" element="tns:setFirstRun"></part>
</message>
<message name="setFirstRunResponse">
<part name="parameters" element="tns:setFirstRunResponse"></part>
</message>
<message name="getFirstRun">
<part name="parameters" element="tns:getFirstRun"></part>
</message>
<message name="getFirstRunResponse">
<part name="parameters" element="tns:getFirstRunResponse"></part>
</message>
<message name="getAdministrativ">
<part name="parameters" element="tns:getAdministrativ"></part>
</message>
<message name="getAdministrativResponse">
<part name="parameters" element="tns:getAdministrativResponse"></part>
</message>
<message name="getNotifikationer">
<part name="parameters" element="tns:getNotifikationer"></part>
</message>
<message name="getNotifikationerResponse">
<part name="parameters" element="tns:getNotifikationerResponse"></part>
</message>
<message name="getInverter">
<part name="parameters" element="tns:getInverter"></part>
</message>
<message name="getInverterResponse">
<part name="parameters" element="tns:getInverterResponse"></part>
</message>
<message name="setAdministrativ">
<part name="parameters" element="tns:setAdministrativ"></part>
</message>
<message name="setAdministrativResponse">
<part name="parameters" element="tns:setAdministrativResponse"></part>
</message>
<message name="setNotifikationer">
<part name="parameters" element="tns:setNotifikationer"></part>
</message>
<message name="setNotifikationerResponse">
<part name="parameters" element="tns:setNotifikationerResponse"></part>
</message>
<message name="setInverter">
<part name="parameters" element="tns:setInverter"></part>
</message>
<message name="setInverterResponse">
<part name="parameters" element="tns:setInverterResponse"></part>
</message>
<message name="getName">
<part name="parameters" element="tns:getName"></part>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"></part>
</message>
<message name="setName">
<part name="parameters" element="tns:setName"></part>
</message>
<message name="setNameResponse">
<part name="parameters" element="tns:setNameResponse"></part>
</message>
<portType name="ServerI">
<operation name="CheckConnection">
<input wsam:Action="http://Service/ServerI/CheckConnectionRequest" message="tns:CheckConnection"></input>
<output wsam:Action="http://Service/ServerI/CheckConnectionResponse" message="tns:CheckConnectionResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/CheckConnection/Fault/Exception"></fault>
</operation>
<operation name="login">
<input wsam:Action="http://Service/ServerI/loginRequest" message="tns:login"></input>
<output wsam:Action="http://Service/ServerI/loginResponse" message="tns:loginResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/login/Fault/Exception"></fault>
</operation>
<operation name="createGroup">
<input wsam:Action="http://Service/ServerI/createGroupRequest" message="tns:createGroup"></input>
<output wsam:Action="http://Service/ServerI/createGroupResponse" message="tns:createGroupResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/createGroup/Fault/Exception"></fault>
</operation>
<operation name="getGroup">
<input wsam:Action="http://Service/ServerI/getGroupRequest" message="tns:getGroup"></input>
<output wsam:Action="http://Service/ServerI/getGroupResponse" message="tns:getGroupResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getGroup/Fault/Exception"></fault>
</operation>
<operation name="deleteGroup">
<input wsam:Action="http://Service/ServerI/deleteGroupRequest" message="tns:deleteGroup"></input>
<output wsam:Action="http://Service/ServerI/deleteGroupResponse" message="tns:deleteGroupResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/deleteGroup/Fault/Exception"></fault>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://Service/ServerI/getAllUsersRequest" message="tns:getAllUsers"></input>
<output wsam:Action="http://Service/ServerI/getAllUsersResponse" message="tns:getAllUsersResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getAllUsers/Fault/Exception"></fault>
</operation>
<operation name="addProductToUser">
<input wsam:Action="http://Service/ServerI/addProductToUserRequest" message="tns:addProductToUser"></input>
<output wsam:Action="http://Service/ServerI/addProductToUserResponse" message="tns:addProductToUserResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/addProductToUser/Fault/Exception"></fault>
</operation>
<operation name="addToResults">
<input wsam:Action="http://Service/ServerI/addToResultsRequest" message="tns:addToResults"></input>
<output wsam:Action="http://Service/ServerI/addToResultsResponse" message="tns:addToResultsResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/addToResults/Fault/Exception"></fault>
</operation>
<operation name="getSurName">
<input wsam:Action="http://Service/ServerI/getSurNameRequest" message="tns:getSurName"></input>
<output wsam:Action="http://Service/ServerI/getSurNameResponse" message="tns:getSurNameResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getSurName/Fault/Exception"></fault>
</operation>
<operation name="setEmail">
<input wsam:Action="http://Service/ServerI/setEmailRequest" message="tns:setEmail"></input>
<output wsam:Action="http://Service/ServerI/setEmailResponse" message="tns:setEmailResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setEmail/Fault/Exception"></fault>
</operation>
<operation name="getEmail">
<input wsam:Action="http://Service/ServerI/getEmailRequest" message="tns:getEmail"></input>
<output wsam:Action="http://Service/ServerI/getEmailResponse" message="tns:getEmailResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getEmail/Fault/Exception"></fault>
</operation>
<operation name="setRetning">
<input wsam:Action="http://Service/ServerI/setRetningRequest" message="tns:setRetning"></input>
<output wsam:Action="http://Service/ServerI/setRetningResponse" message="tns:setRetningResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setRetning/Fault/Exception"></fault>
</operation>
<operation name="getRetning">
<input wsam:Action="http://Service/ServerI/getRetningRequest" message="tns:getRetning"></input>
<output wsam:Action="http://Service/ServerI/getRetningResponse" message="tns:getRetningResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getRetning/Fault/Exception"></fault>
</operation>
<operation name="retrieveSafeObjects">
<input wsam:Action="http://Service/ServerI/retrieveSafeObjectsRequest" message="tns:retrieveSafeObjects"></input>
<output wsam:Action="http://Service/ServerI/retrieveSafeObjectsResponse" message="tns:retrieveSafeObjectsResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/retrieveSafeObjects/Fault/Exception"></fault>
</operation>
<operation name="getSafe">
<input wsam:Action="http://Service/ServerI/getSafeRequest" message="tns:getSafe"></input>
<output wsam:Action="http://Service/ServerI/getSafeResponse" message="tns:getSafeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getSafe/Fault/Exception"></fault>
</operation>
<operation name="getSafeSize">
<input wsam:Action="http://Service/ServerI/getSafeSizeRequest" message="tns:getSafeSize"></input>
<output wsam:Action="http://Service/ServerI/getSafeSizeResponse" message="tns:getSafeSizeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getSafeSize/Fault/Exception"></fault>
</operation>
<operation name="setSafe">
<input wsam:Action="http://Service/ServerI/setSafeRequest" message="tns:setSafe"></input>
<output wsam:Action="http://Service/ServerI/setSafeResponse" message="tns:setSafeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setSafe/Fault/Exception"></fault>
</operation>
<operation name="setfullName">
<input wsam:Action="http://Service/ServerI/setfullNameRequest" message="tns:setfullName"></input>
<output wsam:Action="http://Service/ServerI/setfullNameResponse" message="tns:setfullNameResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setfullName/Fault/Exception"></fault>
</operation>
<operation name="hentResults">
<input wsam:Action="http://Service/ServerI/hentResultsRequest" message="tns:hentResults"></input>
<output wsam:Action="http://Service/ServerI/hentResultsResponse" message="tns:hentResultsResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/hentResults/Fault/Exception"></fault>
</operation>
<operation name="getFullName">
<input wsam:Action="http://Service/ServerI/getFullNameRequest" message="tns:getFullName"></input>
<output wsam:Action="http://Service/ServerI/getFullNameResponse" message="tns:getFullNameResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getFullName/Fault/Exception"></fault>
</operation>
<operation name="addToSafe">
<input wsam:Action="http://Service/ServerI/addToSafeRequest" message="tns:addToSafe"></input>
<output wsam:Action="http://Service/ServerI/addToSafeResponse" message="tns:addToSafeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/addToSafe/Fault/Exception"></fault>
</operation>
<operation name="setFirstRun">
<input wsam:Action="http://Service/ServerI/setFirstRunRequest" message="tns:setFirstRun"></input>
<output wsam:Action="http://Service/ServerI/setFirstRunResponse" message="tns:setFirstRunResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setFirstRun/Fault/Exception"></fault>
</operation>
<operation name="getFirstRun">
<input wsam:Action="http://Service/ServerI/getFirstRunRequest" message="tns:getFirstRun"></input>
<output wsam:Action="http://Service/ServerI/getFirstRunResponse" message="tns:getFirstRunResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getFirstRun/Fault/Exception"></fault>
</operation>
<operation name="getAdministrativ">
<input wsam:Action="http://Service/ServerI/getAdministrativRequest" message="tns:getAdministrativ"></input>
<output wsam:Action="http://Service/ServerI/getAdministrativResponse" message="tns:getAdministrativResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getAdministrativ/Fault/Exception"></fault>
</operation>
<operation name="getNotifikationer">
<input wsam:Action="http://Service/ServerI/getNotifikationerRequest" message="tns:getNotifikationer"></input>
<output wsam:Action="http://Service/ServerI/getNotifikationerResponse" message="tns:getNotifikationerResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getNotifikationer/Fault/Exception"></fault>
</operation>
<operation name="getInverter">
<input wsam:Action="http://Service/ServerI/getInverterRequest" message="tns:getInverter"></input>
<output wsam:Action="http://Service/ServerI/getInverterResponse" message="tns:getInverterResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getInverter/Fault/Exception"></fault>
</operation>
<operation name="setAdministrativ">
<input wsam:Action="http://Service/ServerI/setAdministrativRequest" message="tns:setAdministrativ"></input>
<output wsam:Action="http://Service/ServerI/setAdministrativResponse" message="tns:setAdministrativResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setAdministrativ/Fault/Exception"></fault>
</operation>
<operation name="setNotifikationer">
<input wsam:Action="http://Service/ServerI/setNotifikationerRequest" message="tns:setNotifikationer"></input>
<output wsam:Action="http://Service/ServerI/setNotifikationerResponse" message="tns:setNotifikationerResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setNotifikationer/Fault/Exception"></fault>
</operation>
<operation name="setInverter">
<input wsam:Action="http://Service/ServerI/setInverterRequest" message="tns:setInverter"></input>
<output wsam:Action="http://Service/ServerI/setInverterResponse" message="tns:setInverterResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setInverter/Fault/Exception"></fault>
</operation>
<operation name="getName">
<input wsam:Action="http://Service/ServerI/getNameRequest" message="tns:getName"></input>
<output wsam:Action="http://Service/ServerI/getNameResponse" message="tns:getNameResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/getName/Fault/Exception"></fault>
</operation>
<operation name="setName">
<input wsam:Action="http://Service/ServerI/setNameRequest" message="tns:setName"></input>
<output wsam:Action="http://Service/ServerI/setNameResponse" message="tns:setNameResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service/ServerI/setName/Fault/Exception"></fault>
</operation>
</portType>
<binding name="ServermanagerPortBinding" type="tns:ServerI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="CheckConnection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteGroup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addProductToUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addToResults">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSurName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setRetning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRetning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="retrieveSafeObjects">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSafe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSafeSize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setSafe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setfullName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="hentResults">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFullName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addToSafe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFirstRun">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFirstRun">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAdministrativ">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNotifikationer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getInverter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setAdministrativ">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setNotifikationer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setInverter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ServermanagerService">
<port name="ServermanagerPort" binding="tns:ServermanagerPortBinding">
<soap:address location="http://ubuntu4.javabog.dk:9959/softskills"></soap:address>
</port>
</service>
</definitions>